body{
    background-color: #87cefa;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.header{
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, #7b68ee,#87cefa);
    
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.links a{
    text-decoration: none;
    padding: 10px;
}



.parte-central{
    width: 100%;
    height: max-content;
    background-color: #87cefa;
}

.textos{
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    text-align: center;

}

.p{
    font-size: 40px;
}

.footer {
    width: 100%;
    height: 60vh;
    padding: 20px;
    background: linear-gradient(to bottom, #87cefa, #7b68ee);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
} 

.footer h1{
    margin: 0;
    font-size: 30px;
    
}

.imagem-footer{
    position: static;

}

.imagem-footer img{
    width: 80px;
    height: auto;

}